


<!-- TEST -->
<div class="container mt-4">


  <div class="row mt-2 justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            You loved the <%= @dish.name %> at...

            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
          </h4>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            <form action="/create_bookmark" class="form-inline float-left" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="YzXDxUYe+uTniJlM+rFjq/HdKvrA895P04WDS+AMbO7uFKhNWWnsj0DSt53CASfr9yNd2dOsuleUjgpph1lkVQ==">


              <input type="hidden" name="dish_id" value="<%= @dish.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <!-- Label and input for venue_id -->
              <div class="form-group mr-sm-1">
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
              </div>

              <button class="btn btn-primary btn">
                <i class="fa fa-heart"></i>
              </button>
            </form>
            <small class="float-right text-muted">
              <%= time_ago_in_words(@dish.created_at) %>
            </small>
          </li>

          <% @dish.specialists.each do |venue| %>
            <li class="list-group-item">
              <p>
                <a href="/venues/<%= venue.id %>">
                  <%= venue.name %>
                </a>

                <small class="float-right text-muted">
                  <%= time_ago_in_words(venue.created_at) %> ago
                <% end %>
                <% @dish.bookmarks.each do |bookmark| %>
                  <a href="/bookmarks/<%= bookmark.id %>/edit">
                    <i class="fa fa-fw fa-edit"></i>
                  </a>

                  <a href="/delete_bookmark/<%= bookmark.id %>">
                    <i class="fa fa-fw fa-trash-o"></i>
                  </a>
                </small>
              </p>
            <% end %>

          </li>
        </ul>

        <div class="card-footer text-center">
          <a href="/dishes" class="btn btn-block btn-secondary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
